.search-name {
  text-align: center;
}

.search-name span {
  letter-spacing: $spacing-small;
  font-weight: $font-semibold;
  opacity: 0.8;
}

.search-btn {
  letter-spacing: $spacing-small;
  font-weight: $font-semibold;
}

.result {
  text-align: center;
}

.result-text {
  letter-spacing: $spacing-small;
}

